.blc-card-prod {
    margin:  15px auto;
    width: 240px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.344);
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.3s ease-in;
}

.blc-card-prod:hover {
    transform: scale(1.05);
}

.blc-img-prod {
    width: 100%;
    display: flex;
    margin: auto;
}

.img-prod {
    width: 240px;
    height: 240px;
}

.blc-popular-prod {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.raiting {
    list-style-type: none;
    display: flex;
    margin-left: 15px;
}

.star {
    margin: 4px;
    margin-top: 10px;
    color: #e55a19;
}

.blc-name-prod {
    width: 100%;
    align-items: center;
    justify-content: center;
}

.link-title-prod span{
    display: block;
    width: 90%;
    height: 35px;
    text-align: center;
    margin: 5px 8px;
    font-size: 14px;
}

.blc-price-prod, .blc-btn-add {
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.text-price {
    display: block;
    width: 90%;
    text-align: center;
    margin: 8px;
    font-size: 14px;
    font-weight: bold;
}

.btn-add, .btn-save {
    display: block;
    margin: auto;
    border: none;
    width: 100%;
    padding: 8px 0;
    font-size: 16px;
    background-color: #e55a19;
    color: white;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

@media screen and (max-width: 820px){
    .blc-card-prod {
        width: 200px;
    }

    .img-prod {
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 768px){
    .blc-card-prod {
        width: 180px;
    }

    .img-prod {
        width: 180px;
        height: 180px;
    }
}