.blc-podcatalog {
    width: 100%;
}

.blc-lists-podcatalog {
    width: 70%;
    height: 0;
    margin: auto;
    display: flex;
    transition: all 0.3s ease-in;
}

.list-podcatalog {
    width: 33%;
    list-style-type: none;
    display: none;
    opacity: 0;
    transition: all 0.3s ease-in;
}

.list-podcatalog>span {
    display: block;
    margin: 15px auto;
    color: #666;
    font-size: 20px;
    font-weight: bold;
}

.item-podcatalog {
    margin: 15px auto;
}

.item-podcatalog:hover .link-podcatalog {
    text-decoration: underline;
}

.link-podcatalog {
    text-decoration: none;
    color: #666;
    font-size: 20px;
    transition: all 0.3s ease-in;
}

.blc-btn-podcatalog {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #cccccc85;
}

.btn-podcatalog {
    margin: 7px auto;
}

#list-outline {
    font-size: 32px;
    cursor: pointer;
}

/* ========== CATALOG ========== */

.blc-products {
    width: 70%;
    margin: 40px auto;
    background-color: rgba(0, 255, 255, 0.331);
    min-height: 800px;
    display: grid;
    grid-template-columns: 15% 85%;
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
}

.blc-title-filtr {
    margin: 15px auto;
}

.blc-filtr {
    background-color: rgba(0, 255, 94, 0.327);
    min-height: 800px;
}

.title-filtr {
    text-align: center;
}