/* /* ========== PODCATALOG ========== */ */
.blc-podcatalog {
    width: 100%;
}

.blc-lists-podcatalog {
    width: 70%;
    height: 0;
    margin: auto;
    display: flex;
    transition: all 0.3s ease-in;
}

.list-podcatalog {
    width: 33%;
    list-style-type: none;
    display: none;
    opacity: 0;
    transition: all 0.3s ease-in;
}

.list-podcatalog>span {
    display: block;
    margin: 15px auto;
    color: #666;
    font-size: 20px;
    font-weight: bold;
}

.item-podcatalog {
    margin: 15px auto;
}

.item-podcatalog:hover .link-podcatalog {
    text-decoration: underline;
}

.link-podcatalog {
    text-decoration: none;
    color: #666;
    font-size: 20px;
    transition: all 0.3s ease-in;
}

.blc-btn-podcatalog {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #cccccc85;
}

.btn-podcatalog {
    margin: 7px auto;
}

#list-outline {
    font-size: 32px;
    cursor: pointer;
}

/* ========== BLOK PRODUCTS ========== */

.blc-products {
    width: 80%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 15% 85%;
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    box-shadow: 0px 0px 4px rgba(0,0,0, 0.2);
}

.blc-filtr {
    background-color: #ebeff2;
    box-shadow: 0px 0px 4px rgba(0,0,0, 0.2);
    cursor: pointer;
}

.blc-title-filtr {
    margin: 15px auto;
}


.title-filtr {
    text-align: center;
}

.title-filtr:hover {
    text-decoration: underline;
}

.form-filtr {
    width: 100%;
    transition: all 0.3s ease-in;
}

.form-filtr select {
    display: block;
    margin: 10px auto;
    padding: 3px 5px;
    border: none;
    cursor: pointer;
    box-shadow: 4px 0px 4px rgba(0,0,0, 0.2);
}

.form-filtr h4 {
    text-align: center;
    margin: 10px auto;
}

.blc-interval {
    display: flex;
    justify-content: center;
}

.sign-input {
    display: flex;
    align-items: center;
}

.blc-interval input {
    width: 50px;
    display: block;
    margin: 10px 5px;
    padding: 3px 5px;
    border: none;
    box-shadow: 4px 0px 4px rgba(0,0,0, 0.2);
}

.form-filtr button {
    display: block;
    margin: 10px auto;
    padding: 3px 8px;
    cursor: pointer;
}

/* BLOCK WITH PRODUCTS */

.blc-window-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.blc-btn-get-more {
    width: 100%;
}

.btn-get-more {
    display: block;
    margin: 25px auto;
    cursor: pointer;
    padding: 8px 20px;
    border: none;
    background-color: #31be90;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px #33333374;
    transition: all 0.3s ease-in;
    font-size: 22px;
}

.btn-get-more:hover {
    transform: scale(0.98);
    box-shadow: 0 0 5px #3333338a;
}

@media screen and (max-width: 1600px) {
    .blc-window-products {
        grid-template-columns: repeat(3, 1fr);
    }

    .blc-products {
        width: 90%;
    }
}

@media screen and (max-width: 1600px) {

    .blc-lists-podcatalog {
        width: 90%;
    }

    .blc-products {
        display: flex;
        flex-direction: column;
    }

    .form-filtr {
        height: 0;
        display: none;
        opacity: 0;
    }
}

@media screen and (max-width: 900px) {
    .blc-window-products {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .blc-products {
        width: 70%;
    }

    .blc-window-products {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 400px) {
    .blc-products {
        width: 90%;
    }

    .blc-window-products {
        grid-template-columns: 1fr;
    }
}