.content {
    width: 100%;
    min-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

b {
    color: rgba(255, 0, 0, 0.774);
}

.blc-form-login {
    width: 600px;
    margin: auto;
    background-color: #d0d0d042;
    border-radius: 7px;
    box-shadow: 0px 0px 8px rgba(0,0,0, 0.2);
}

.blc-login-title {
    width: 100%;
    margin: 20px auto;
}

.login-title {
    text-align: center;
    font-size: 32px;
}

.form-login {
    width: 100%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.form-login p {
    display: block;
    width: 80%;
    margin: 8px auto;
}

.form-login label {
    font-size: 22px;
    margin: 8px auto;
}

.form-login input {
    width: 95%;
    font-size: 18px;
    padding: 4px 8px;
    margin: 8px 0;
    border: none;
    box-shadow: 0px 0px 8px rgba(0,0,0, 0.2);
}

.form-login button {
    display: block;
    font-size: 20px;
    padding: 4px 8px;
    margin: auto;
    margin-top: 15px;
    padding: 3px 20px;
    cursor: pointer;
    border: none;
    background-color: #31be90;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(0,0,0, 0.2);
}

.title-signup {
    font-size: 18px;
    text-align: center;
}

.link-signup {
    display: block;
    margin: 10px auto;
    color: #666;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease-in;
}

.link-signup:hover {
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    .blc-form-login {
        width: 300px;
    }
}