* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    background-color: #fbfbfb;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}


.blc-black-line {
    width: 100%;
    height: 30px;
    background-color: #000;
}

.blc-name-user {
    width: 200px;
    float: right;
    color: white;
    height: 100%;
    font-size: 16px;
    transition: all 0.3s ease-in;
    cursor: pointer;
}

.blc-name-user:hover {
    background-color: #666;
}

.user-cabinet {
    text-decoration: none;
    color: white;
}

.name-user {
    display: flex;
    justify-content: center;
    line-height: 30px;
}

.icon-name-user {
    display: block;
    margin-top: 4px;
    font-size: 22px;
}

.head-container {
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.blc-logo { width: 100%; }

.link-logo {
    display: block;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.img-logo {
    display: block;
    width: 189px;
    height: 80px;
    margin: auto;
}

.blc-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.link-phone {
    text-decoration: none;
    color: #000;
}

.blc-about-oder {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-about-oder {
    display: flex;
    width: 70%;
    height: 80%;
    font-size: 12px;
    color: #666;
    align-items: center;
    justify-content: center;
}

.blc-basket {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-basket {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #000;
}

.blc-img-basket {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-basket {
    display: flex;
    margin: auto;
    width: 30px;
    height: 30px;
}

nav {
    display: flex;
    width: 100%;
    background-color: #f6f6f6;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 0px 4px rgba(0,0,0, 0.2);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 8px;
}

.nav-items {
    display: flex;
    width: 70%;
    height: 39.63px;
    margin: auto;
    list-style-type: none;
}

.nav-item {
    width: 100%;
    padding: 8px 15px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

.nav-item:hover .nav-link {
    color: #0f0f0f;
}

.nav-link {
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #666;
}

/* .nav-items-catalog {
    height: 0;
    display: none;
    margin: auto;
    list-style-type: none;
    background-color: #f6f6f6;
    margin-top: 8px;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in;
}

.nav-items-catalog .nav-item {
    margin: 5px;
    padding: 10px 0;
    opacity: 0;
} */

/* ссылка на каталог */
/* #nav-item-catalog:hover .nav-items-catalog{
    display: block;
} */

.btn-adapt-menu {
    width: 39.63px;
    height: 39.63px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    cursor: pointer;
}

.item-line {
    width: 80%;
    height: 5px;
    background-color: #000;
    margin: 2px;
}

.adapt {
    display: none;
    height: 0;
    flex-direction: column;
    width: 300px;
    margin: 0;
    background-color: #f6f6f6;
    box-shadow: 0px 4px 4px rgba(0,0,0, 0.2);
    position: absolute;
    transition: all 0.5s ease-in;
    z-index: 80;
}

.adapt .nav-item {
    width: 87%;
    margin: 5px;
    opacity: 0;
}

.adapt .nav-link {
    text-align: left;
}

@media screen and (max-width: 1100px) {
    .head-container {
        width: 90%;
    }
}

@media screen and (max-width: 950px) {
    .head-container {
        width: 90%;
        display: flex;
    }

    .blc-phone {
        display: none;
    }

    .blc-about-oder {
        display: none;
    }

    .text-link-basket {
        display: none;
    }

    .img-basket {
        width: 30px;
        height: 30px;
    }
    
    .btn-adapt-menu {
        display: flex;
    }

    nav {
        justify-content: left;
    }

    nav .nav-items {
        display: none;
    }
}