.content, .container {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

/* ========== Баннер ========== */

.blc-banner {
    width: 100%;
    height: 470px;
    background-image: url('/images/banner/banner.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
}

.blc-banner-title-main {
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: right;
}

.banner-title-main {
    margin-top: 45px;
    text-align: right;
    color: white;
    font-size: 40px;
    text-shadow: 4px 0px 4px rgba(0,0,0, 0.4);
}

.banner-title-main>span {
    font-size: 30px;
}

.banner-title-main span:last-child  {
    font-size: 24px;
}

.blc-banner-titles {
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: column;
}

.blc-banner-title {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: right;
}

.banner-title {
    margin-top: 20px;
    text-align: right;
    color: white;
    font-size: 24px;
    text-shadow: 4px 0px 4px rgba(0,0,0, 0.4);
    background-color: rgba(0,0,0, 0.6);
    padding: 5px 15px;
}

.banner-title>span {
    font-size: 18px;
}

/* ========== Загаловки ========== */

.blc-title-prod {
    width: 100%;
    margin: 30px auto;
}

.title-prod {
    width: 70%;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.text-title-prod {
    text-align: center;
}

/* ========== Слайдер ========== */

.blc-slider {
    width: 1000px;
    margin: auto;
    display: flex;
}

.slider {
    width: 880px;
    display: flex;
    margin: 50px auto;
    align-items: center;
    overflow: hidden;
    justify-content: right;
}

.line-slider {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 880px;
    position: relative;
    left: 0;
    margin: auto;
    transition: all 0.4s ease-in;
}

.blc-btn {
    width: 55px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    cursor: pointer;
    transition: all 0.3s ease-in;
    margin-top: 220px;
}

.blc-btn:hover {
    background-color: #e6e6e6a9;
}

.btn-left, .btn-right{
    width: 55px;
    margin: auto;
    text-align: center;
    transition: all 0.3s ease-in;
    z-index: 30;
}

/* ========== benefits(преимущества) ========== */

.blc-benefits {
    width: 70%;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-benefits {
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin: 20px auto;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.146);
}

.list-benefits>ul {
    width: 80%;
    display: flex;
    justify-content: center;
    display: grid;
    list-style-type: none;
    margin: 20px auto;
    grid-template-columns: repeat(4, 25%);
}

.icon-benefit {
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 80px;
}

.item-benefit> span {
    width: 80%;
    margin: 15px auto;
    display: block;
    text-align: center;
}


@media screen and (max-width: 1400px) {
    .slider {
        width: 80%;
    }
}

@media screen and (max-width: 1000px) {
    .blc-banner-title-main{
        width: 80%;
    }
}