.content {
    width: 100%;
}

.blc-banner {
    width: 100%;
    height: 470px;
    background-image: url('/images/banner/banner.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
}

.blc-banner-title-main {
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: right;
}

.banner-title-main {
    margin-top: 45px;
    text-align: right;
    color: white;
    font-size: 40px;
    text-shadow: 4px 0px 4px rgba(0,0,0, 0.4);
}

.banner-title-main>span {
    font-size: 30px;
}

.banner-title-main span:last-child  {
    font-size: 24px;
}

.blc-banner-titles {
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: column;
}

.blc-banner-title {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: right;
    /* flex-direction: column; */
}

.banner-title {
    margin-top: 20px;
    text-align: right;
    color: white;
    font-size: 24px;
    text-shadow: 4px 0px 4px rgba(0,0,0, 0.4);
    background-color: rgba(0,0,0, 0.6);
    padding: 5px 15px;
}

.banner-title>span {
    font-size: 18px;
}

@media screen and (max-width: 1000px) {
    .blc-banner-title-main{
        width: 80%;
    }
}