.blc-popap {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.177);
    top: 0;
    position: fixed;
    overflow-y: hidden;
    display: none;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.blc-window-popap {
    width: 400px;
    height: 300px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px #989898;
    overflow: hidden;
    align-items: center;
}

.blc-close {
    width: 400px;
    background-color: #f6f6f6;
    position: absolute;
    border-radius: 5px 5px 0 0;
    box-shadow: 4px 0px 4px rgb(0 0 0 / 20%);
}

.btn-close {
    font-size: 32px;
    align-items: center;
    float: right;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.btn-close:hover .close-outline {
    color: red;
}

.blc-content {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-info {
    margin: 15px;
}