.blc-slider {
    width: 100%;
    margin: 30px auto;
}

.blc-slider-line {
    width: 80%;
    border:  1px solid #a3a3a3;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow: hidden;
}

@media screen and (max-width: 1400px){
    .blc-slider-line {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 900px){
    .blc-slider-line {
        width: 90%;
    }
}

@media screen and (max-width: 420px){
    .blc-slider-line {
        grid-template-columns: 1fr;
    }
}