.blc-slider {
    width: 100%;
}

.blc-slider-line {
    width: 80%;
    border:  1px solid #666;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow: hidden;
}

@media screen and (max-width: 1400px){
    .blc-slider-line {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 420px){
    .blc-slider-line {
        grid-template-columns: 1fr;
    }
}